# Python
__pycache__/
*.py[cod]
*.class

# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Distribution / packaging
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
